<%= form_with model: @user do |form| %>
  <div class="mdc-layout-grid__inner">
    <% if defined?(@errors) && @errors.present? %>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-18">
        <%= render partial: "shared/errors" %>
      </div>
    <% end %>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <!-- Render textfield component -->
      <div class="mdc-text-field mdc-text-field--with-trailing-icon">
        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing clickable" data-target="text-field.icon">
          account_circle
        </i>
        <%= form.text_field :name, type: "text", class: "mdc-text-field__input", data: { target: "text-field.input" } %>
        <div class="mdc-line-ripple"></div>
        <%= form.label :name, class: "mdc-floating-label mdc-floating-label--float-above", required: true, data: { target: "text-field.label" } %>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <!-- Render textfield component -->
      <div class="mdc-text-field mdc-text-field--with-trailing-icon">
        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing clickable" data-target="text-field.icon">
          email
        </i>
        <%= form.text_field :email, type: "email", class: "mdc-text-field__input", data: { target: "text-field.input" } %>
        <div class="mdc-line-ripple"></div>
        <%= form.label :email, class: "mdc-floating-label mdc-floating-label--float-above", required: true, data: { target: "text-field.label" } %>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <!-- Render textfield component -->
      <div class="mdc-text-field mdc-text-field--with-trailing-icon">
        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing clickable" data-target="text-field.icon">
          password
        </i>
        <%= form.text_field :password, type: "password", class: "mdc-text-field__input", data: { target: "text-field.input" } %>
        <div class="mdc-line-ripple"></div>
        <%= form.label :password, class: "mdc-floating-label mdc-floating-label--float-above", required: true, data: { target: "text-field.label" } %>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <!-- Render textfield component -->
      <div class="mdc-text-field mdc-text-field--with-trailing-icon">
        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing clickable" data-target="text-field.icon">
          password
        </i>
        <%= form.text_field :password_confirmation, type: "password", class: "mdc-text-field__input", data: { target: "text-field.input" } %>
        <div class="mdc-line-ripple"></div>
        <%= form.label :password_confirmation, class: "mdc-floating-label mdc-floating-label--float-above", required: true, data: { target: "text-field.label" } %>
      </div>
    </div>
    <div class="mdc-layout-grid__cell">
      <button class="mdc-button mdc-button--unelevated" type="submit">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Submit</span>
      </button>
    </div>
  </div>
<% end %>
