<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache">
    <!-- page title -->
    <title>
      <% @title = (yield :title).presence || @title.presence %>
      <%= (@title ? "#{@title} | Down Under Sports" : "Down Under Sports") %>
    </title>
    <!-- favicons -->
    <% %w[ 16 32 96 128 196 ].each do |size| %>
    <% x_size = "#{size}x#{size}" %>
    <link rel="icon" type="image/png" sizes="<%= x_size %>" href="<%= image_pack_path "favicon-#{x_size}.png" %>">
    <% end %>
    <link rel="icon" href="<%= image_pack_path "favicon.ico" %>">
    <!-- Protect from Forgery -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- import Material Icons from Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Or with "Outlined" Icon Options: -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <% js_packs = [ "application", "styles" ] | ((yield :js_packs).presence || []).map(&:to_s) %>
    <% js_packs.each do |js_pack| %>
      <%= stylesheet_pack_tag js_pack, media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= javascript_packs_with_chunks_tag *js_packs, 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body
    class="mdc-typography with-background-image ocean-background"
    data-controller="app-drawer"
  >
    <!-- Side-Panel Hideable Navigation -->
    <%= render partial: "layouts/app_drawer" %>
    <section class="mdc-drawer-app-content">
      <!-- Top-Fixed Navigation -->
      <%= render partial: "layouts/top_bar" %>
      <div class="main-content mdc-top-app-bar--prominent-fixed-adjust">
        <!-- Allow Full-Page-Width or Custom-Grid Layouts -->
        <%= yield(:outside_grid) %>
        <!-- Full-Screen-Height Scrollable Default Grid -->
        <% unless CoerceBoolean.from(yield(:no_main_grid).presence) %>
          <div class="main-grid mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <%= cell_tag(:main, base: 18) do %>
                <%= yield %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </body>
</html>
